.navBar {
    padding: 15px;
    background-color: #88bb90;
    box-shadow: 5px 10px 10px  rgba(0, 0, 0, .75);
}

.navBarText p {
    font-family: "Snell Roundhand", cursive;
    margin: 0px;
    color: #E1CBD6;

    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5),
               2px -2px 4px rgba(255, 255, 255, 0.5);

}

.navBarText {
    display: flex;
    justify-content: space-between  ;
}

.new {
    padding-right: 5%;
    font-size: large;
    padding-top:.25%
}

.icon {
    font-size: x-large;
}

.navBarText p:hover {
    cursor: pointer;

    text-shadow: -2px 2px 1px rgba(255, 255, 255, 0.5),
               2px -2px 4px rgba(255, 255, 255, 0.5);
}

